@use '../utils' as *;

.form {
  width: 100%;
  max-width: rem(400);

  @include respond-to('lg') {
    width: rem(520);
    max-width: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: rem(16);
    width: 100%;
    margin-bottom: rem(8);

    @include respond-to('lg') {
      flex-direction: row;
      gap: rem(40);
    }
  }

  &__field {
    width: 100%;
    padding: rem(14);
    border: none;
    border-radius: rem(6);
    line-height: 1.4;

    &:focus {
      outline: 2px solid var(--clr-primary);
    }

    &--error {
      outline: 2px solid var(--clr-warning);
    }
  }

  &__cta {
    padding: rem(16) rem(42);
    border-radius: rem(6);
    font-size: rem(16);
    font-weight: 600;
    line-height: 1;
    background-color: var(--clr-primary);
    transition: 0.2s background-color ease-in-out;

    &:hover {
      background-color: var(--clr-primary-lt);
    }
  }

  &__error {
    color: var(--clr-warning);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }
}
