:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-primary-lt: hsl(321, 100%, 78%);
  --clr-secondary: hsl(192, 100%, 9%);
  --clr-warning: hsl(0, 100%, 63%);
  --clr-helper: hsl(207, 100%, 98%);
  --clr-ntrl: hsl(0, 0%, 100%);

  --ff-base: 'Open Sans', sans-serif;
  --ff-base-alt: 'Poppins', sans-serif;
}
